.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.button:hover{
    color: white;
    background-color: rgb(16, 248, 16);
}

.button{
    border: none;
    border-radius: 10px;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
}

#volume{
    float: right;
}

#speed{
    float: left;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}